<div id="audio_player" class="span3">
  <audio id="player" controls="controls">
    <source id="audio_source" src="<%= source %>" type="audio/wav" />
    Your browser does not support the audio tag.
  </audio>
</div>