<div class="row spaced">
  <div class="span1" style="font-size: 200%; text-align: right">
    <i class="icon-white icon-picture"></i>
  </div>
</div>
<div class="row spaced">
  <div class="span1" style="font-size: 200%; text-align: right">
    <i class="icon-white icon-volume-up"></i>
  </div>
  <div class="span1">
    <span class="btn-group">
      <span id="record" class="btn btn-inverse" style="font-size: 320%; color: red;">&#149;</span>
      <span id="stop" class="btn btn-inverse"><i class="icon-white icon-stop"></i></span>
    </span>
  </div>
</div>